---
pagination:
  data: collections.home
  size: 1
  alias: home
  addAllPagesToCollections: true
layout: 'layouts/doc.njk'
---

{% block content %}
  {{ home.html | safe if home.html else "Page content not found" }}
{% endblock%}

