<nav class="site-nav">
    {% if site.navigation %}
        <div class="site-nav-right">
            {% for item in site.navigation %}
                <a {% if page.url == item.url %}aria-current="page"{% endif %} class="site-nav-button" href="{{ item.url }}">
                    {{ item.title if item.title else item.label }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</nav>
